*{
	padding: 0px;
	margin: 0px;
}

body{
	background-color: #15374D !important;
}

#div_nav{
	background-color: #15374D !important;
}

#contact_border{
	border-radius: 10px;
	background-color: black;
	border: 1px solid white;
	font-weight: bolder;
}

#jeri{
    font-weight: bolder !important;
    scroll-behavior: smooth;
}

#jeri:hover{
    color: #71B0C3 !important;
}


#nav_project:hover, #nav_tools:hover{
    color:#71B0C3 !important;
}

#nav_contact:hover{
    background-color: #71B0C3;
    border-radius: 10px;
}

h4{
    color: #71B0C3 !important;
}

.touch{
    text-decoration: none !important;
    color: white;
}

.touch:hover{
    color: #71B0C3 !important;
}

form{
    background-color: black;
    border-radius: 20px;
}

input {
    border: none;
    border-radius: 5px;
    background-color: #4B4D4C;
    color: whitesmoke;
}

textarea {
    border: none;
    border-radius: 5px;
    background-color: #4B4D4C;
    color: whitesmoke;
}

button {
    border: none;
    border-radius: 5px;
    background-color: #15374D;
    color: whitesmoke;
    font-weight: bolder;
}

button:hover{
    background-color: #71B0C3;
}

::placeholder { 
  color: gray;
}

